.home__container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    position: relative;
}
.home__container::-webkit-scrollbar {
    display: none;
  }
.v-shop{

    height: 100vh !important;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;

}
.v-shop1{

    height: 100vh !important;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;

}

.news_ss_head{
    justify-content: space-between;
     margin-bottom: -50px;
     display: flex;
}
.news_ss_title{
    float: left;   
    font-size: 6rem !important;
    color: #dc3d4b;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif !important; 
}
.btn_goto_news{
    align-self: flex-end;
    color: #fa4454;
    margin-bottom: 50px;
    font-size: 1.4rem;
    font-weight: 600;

}

.v-shop2{
    background-image: url('../assets/images/backg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}

.news_home{
    background-color: #bde6f0;
    position: relative;
}

.category__ss_title {
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #df2020;
}

.category__ss_bot {
    padding-top: 20px;
    justify-content: center;
    font-size: 6.2rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #df2020;
}

.v-shop3{
    background-image: url('../assets/images/backg6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}
.v-shop4{
    
    height: 100vh !important;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}


.feature__subtitle {
    color: #df2020;
}


.feature__item p {
    color: #777;
}

.pop_title{
    margin-top: 5vw;
    float: right;
    color: #df2020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0rem;
    font-weight: 900;
}

.pop_title2{
    margin-top: 5vw;
    float: right;
    color: #dfcc20;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0rem;
    font-weight: 900;
}

.product__category button {
    margin-top: 10vh;
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;

}
.product__category2 button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;

}

.product__category button img {
    width: 20px;
    height: 20px;
}

.tagBtnActive {
    background: #fff !important;
    border-radius: 5px;
    color: #df2020 !important;
}

.tasty__treat-title span {
    color: #df2020;
}

.chose__us-desc {
    color: #777;
    line-height: 28px;
}

.chose__us-title {
    font-weight: 600;
}

.chose__us-title i {
    font-weight: 500 !important;
    color: #df2020;
}

.col_img_why{
 
    justify-content: center;
    display: flex;
}
.why_img{

   background-image: url(../assets/images/backg-circle1.png);
   height: 500px;
   width: auto;
    background-repeat: no-repeat;
    background-position: center;

}


@media only screen and (max-width:768px){
    .v-shop{
        height: max-content !important;
    }
    .v-shop1{
        height: max-content !important;
    }
    
    .v-shop2{
        height: max-content !important;
    }
    .v-shop3{
        height: max-content !important;
    }
    .v-shop4{
        height: max-content !important;
    }
     .news_inhome{
        width: 60% !important;
        justify-content: center;
        align-items: center;
        display: flex;
        
     }
    .home__container{
        height: unset !important;
        overflow-y: hidden;
        scroll-snap-type: none;
    }
   .feature__item h5{
    font-size: 0.9rem;
   }
   .feature__item p {
    font-size: 0.8rem;
    margin-bottom: 0;
   }

   .feature__subtitle{
    font-size: 1rem;
   }

   .feature__text{
     font-size: 0.8rem;
     margin-bottom: 0;
   }



   .chose__us-title {
    font-size: 0.8rem;
   }
   .chose__us-desc{
    font-size: 0.7rem;
    margin-bottom: 0;
   }
   .why__choose-us{
    padding-top: 0 !important;
   }
   .testimonial__subtitle{
    font-size: 1rem;
   }
   .testimonial__desc{
    font-size: 0.8rem;
   }
}
@media only screen and (max-width:576px) {

    .why__choose-us{
        padding-top: 0 !important;
       }
    
}