.product__item {
    background-image: var(--my-image);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 4px var(--border-image);
    text-align: center;    
    cursor: pointer;
    width: 100%;
    height: 350px;
    justify-content: center;
    position: relative;
    object-fit: contain ;
    &:hover {
    background-image: var(--hover-image);
    
      transition: 0.7s;
    }
  }

   .btndot1{
    border: solid 4px var(--border-image);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 9;
}
.btndot2{
    border: solid 4px var(--border-image);
    position: absolute;
    top: 0%;
    left: 97%;
    z-index: 9;
}
.btndot3{
    border: solid 4px var(--border-image);
    position: absolute;
    top: 98%;
    left: 97%;
    z-index: 9;
}
.btndot4{
    border: solid 4px var(--border-image);
    position: absolute;
    top: 98%;
    left: 0%;
    z-index: 9;
}
