
.review__text {
    color: #d32525;
    line-height: 30px;
    margin: 40px 0px;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 999;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.btnsl{
    background-color: #d32525;
    position: absolute;
    left:10%;
    top:60%;
    z-index: 999;
    color:#fff ;
    padding: 15px 30px;
}
.btnsl:hover{
    background-color: #364966;
}
.btnsl2{
    color: #d32525;
    position: absolute;
    left:10%;
    top:60%;
    z-index: 999;
    padding: 7px 26px;
    border-radius: 5px;
}
.btnsl2:hover{
    background-color: #364966;
    color: rgb(255, 255, 255);
}
.slider__content{
    position: relative;
    display: flex;
}
.slider__content img {
    width: 100vw;
    height: 100vh;
    
    object-fit: cover;
    margin-top: -10vh;
}

@media only screen and (max-width:768px) {
    .review__text {
        font-size: 1.7rem;
        margin: 0px 0px !important;

        
    }
    .btnsl{
        padding:  10px 20px;
        top :65%;
    }
    .btnsl2{
        padding: 5px 20px;
    }

    .slider__content{
        height:60vh;
        width: max-content;
        object-fit:fill !important;
    }

    .slider__content h6 {
        font-size: 0.8rem;
    }
}